<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingao.mgj.mapper.App_Goodsimage_Mapper">
	<select id="getAllGoodsimage" resultType="map">
		SELECT
		a.gimgurl,b.`gdname`,b.gdid FROM goodsimage a JOIN goodsinfo b ON
		a.gdid=b.gdid WHERE gimgtype=1 and a.gdid &lt;=200
	</select>
	
	<select id="getGoodsimageCount">
		SELECT
		count(gdid) FROM goodsinfo	WHERE gdid &lt;=200
	</select>
	
<!-- 	<select id="getAllCollection">
		SELECT
		count(gdid) FROM goodsinfo	WHERE gdid &lt;=200
	</select> -->
</mapper>